.Thread{
  background-color: #FF996D;
}


.Thread {
  display: flex;
  .right{
    width: 80%;
  }
}

.Feed{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  .controls{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  button{
    border-radius: 5px;
    background-color: #F3CD70;
    color: black;
    padding: 16px;
    border: none;
    display: flex;
  }
}

.createForm{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9999;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  > div{
    max-width: 500px;
    width: 50%;
    padding: 20px;
    background-color: #F3E0B5;
    border-radius: 10px;
  }
  h2{
    text-align: center;
  }
  fieldset{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    width: auto;
  }
  fieldset.row{
    flex-direction: row;
    justify-content: right;
  }
  label {
    small{
      display: inline;
      color: gray
    }
  }
  input{
    width: auto;
    padding: 10px;
    border-radius: 10px;
  }
  input[type=submit], input[type=button]{
    background-color: #FF996D;
    padding: 10px;
    color: white;
    cursor: pointer !important;
    border-radius: 10px;
    max-width: 100px;
    margin-top: 10px;
  }
  small{
    text-align: right;
    display: block;
    margin-top: 5px;
  }
}

.addCommentForm{

  h2{
    text-align: center;
  }
  fieldset{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    width: auto;
  }
  fieldset.row{
    flex-direction: row;
    justify-content: right;
  }
  label {
    small{
      display: inline;
      color: gray
    }
  }
  input{
    width: auto;
    padding: 10px;
    border-radius: 10px;
  }
  input[type=submit], input[type=button]{
    background-color: #FF996D;
    padding: 10px;
    color: white;
    cursor: pointer !important;
    border-radius: 10px;
    max-width: 100px;
    margin-top: 10px;
  }
  small{
    text-align: right;
    display: block;
    margin-top: 5px;
  }

}