.main-text {

    text-align: center;
    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;


    color: #FF996D;
}

.explain-text {
    display: block;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;

    color: #FF996D;
}





.right-background {
    background: #D3E4E3;
    display: flex;
    justify-content: center;
    align-items: center;
    > div{

    }
}

.left-bar {
    position: absolute;
    width: 290px;
    height: 760px;
    left: 0px;
    top: 0px;

    background: #F3E0B5;
}

.sign-in {
    position: absolute;
    width: 107px;
    height: 64px;
    left: 92px;
    top: 126px;
}


.feed {
    position: absolute;
    width: 107px;
    height: 64px;
    left: -20px;
    top: 200px;
}

.chats {
    position: absolute;
    width: 107px;
    height: 64px;
    left: 90px;
    top: 210px;
}

.forum {
    position: absolute;
    width: 131px;
    height: 64px;
    left: -25px;
    top: 290px;
}

.therapist {
    position: absolute;
    width: 181px;
    height: 64px;
    left: 60px;
    top: 308px;
}

.setting_image {
    background-image: url(../image/WechatIMG217.jpeg);
}

.set-image {
    left: -63px;
    top: 360px;
    position: absolute;
}

.penn {
    background-image: url(../image/UniversityofPennsylvania_FullLogo_RGB.jpg);
}

.penn-image {
    left: 82px;
    top: 700px;
    position: absolute;
}

.Home {
    display: flex;
    .right{
        width: 80%;
    }
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}