.profile-background {
    background-color: #EEE5D1;
    
}

.profile-title-container {

    padding-right: 4rem;
    //position: absolute;
    //
    //-ms-transform: translateY(-50%);
    //transform: translateY(-50%);

    .title {
        font-size: 40px;
        text-align: center;
        color: #FF996D;
        font-weight: 800;
        padding: 0px;
        margin: 0px;
        margin-bottom: 30px;

    }

}
.profile-photo{
    overflow: hidden;
    width: 100%;
}
.profilepic {

    width: 100%;
    height: 128px;



}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 407px;
    height: 400px;


    background: #F3E0B5;
}

.flower {

    width: 80px;
    height: 80px;


    border-radius: 15px;
}

.follower {

    width: 65px;
    height: 17px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FF996D;
}

.following {

    width: 65px;
    height: 17px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FF996D;
}

.person {

    width: 183px;
    height: 34px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;

    color: #FF996D;
}

.school {

    //width: 58px;
    height: 19px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FF996D;
}

.major {

    //width: 58px;
    height: 19px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FF996D;
}

.year {

    height: 19px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FF996D;
}

.personal-text {




    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FF996D;
}

.profile-button {

    width: 297px;
    height: 50px;



    border-radius: 10px;
}

.tags {

    font-weight: 600;
    font-size: 20px;
    color: #FF996D;


}

.topics {



    font-family: 'Inter';

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FF996D;
}

.tag-button-1 {


    background: #F3CD70;
}

.tag-button-2 {


}

.tag-button-3 {


}

.computer {

    width: 45px;
    height: 45px;


    border-radius: 15px;
}

.technology {

    width: 45px;
    height: 45px;


    border-radius: 15px;
}

.computer-text {




    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #F3A770;
}

.computer-friends {



    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #F3A770;
}

.technology-text {




    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #F3A770;
}

.technology-friends {



    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: #F3A770;
}
.wrapper{
    background-image: url('../assets/newsBg.png');
    background-size: cover;
    padding: 25px;
    h1{
        color: #FF996D;
    }
}
.news{
  
   
 
    
}
.avatar{
    background-image: url('../assets/avatar.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}
.avatar2{
    background-image: url('../assets/flower.png');
    background-size: cover;
    width: 50px;
    height: 50px;
}
.box{
    border-radius: 15px;
    margin-bottom: 20px;
    color: #FF996D;
    background-color: #F3E0B5;
}
.box-request{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
    
    div{

    }
   
}

.box-post{
    display: flex;
    padding: 30px 20px;
    
    .left{
        width: 13%;
    }
    .right{
        width: 87%;
        .button-row{
            display: flex;
            justify-content: space-evenly;
            
        }
        input{
            padding: 10px 5px;
            background-color: peach; 
            width: 90%;      
            margin-bottom: 10px; 
            border:none;
            border-radius: 10px;
        }
    }
}

button{
    border-radius: 10px;
    background-color: #F3CD70;
    color: #FF996D;
    padding: 8px;
    border: none;
    display: flex;
    
    img{
        margin-right: 5px;
    }
}

.box-feed{
    padding: 15px;
    .grid{
        display: flex;
        flex-direction: column;
        gap: 5px;
    
    }
    .gridItem{
        display: flex;
        flex-direction: row;;
        justify-content: space-evenly;
        width: 100%;
        gap: 5px;
    }
    .gridItem2{
        justify-content: space-between;
    }
    .date{
        font-size: 25px;
        width: 50px;
    }
    .icon{
        width: 50px;
        height: 50px;

        background-size: cover;
        border-radius: 5px;;
    }
    .icon1{
        background-image: url('../assets/icons.png');
    }
    .icon2{
        background-image: url('../assets/icon.png');
    }
    .mess{
        width: 200px;
    }
    .box{
        width: 300px;
        border-radius: 10px;
        background-color: #F3CD70;
        color: #FF996D;
        padding: 8px;
        border: none;

    }
}

.center{
    text-align: center;

}
.peach{
    color: #FF996D;
}
#profileForm{
    width: 80%;

    fieldset{
        background-color: transparent;
        padding: 2px 10px;
        width: 300px;

    }
    .create-button{
        background: #F3CD70;
        max-width: 300px;
        margin: 20px auto;
        border-radius: 10px;
        color: white;
        text-transform: uppercase;
        padding: 10px;
        cursor: pointer;

    }
    input{
        width: 50%;
        border-radius: 10px;
    }
}
.flex{
    display: flex;
    flex-direction: row;
}

.left{
    width: 50%;

}

.right{
    width: 50%;
}
.profileBox{
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}