

.Settings {
    display: flex;
    .right{
        width: 80%;
        background-color: #EEE5D1;
        padding: 20px;
        justify-content: center;
        display: flex;
        > div{

        }
        h2{
            color: rgb(255, 153, 109);
        }
        fieldset{
            border:none;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            select{
                padding: 8px 10px;
                background-color: rgb(255, 153, 109);
                color: white;
                border: none;
                border-radius: 5px;
                border-right: 5px solid transparent
            }
        }
        label{
            min-width: 400px;
        }
        .round-box{
            border: solid 1px  rgb(255, 153, 109);
            border-radius: 10px;
            padding: 10px;
            max-width: 600px;
        }
    }
}
.background{
    background-color: #F3E0B5;
    padding: 30px;
}

